/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/fraunces-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/fraunces-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/fraunces-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/fraunces-v10-latin-regular.svg#Fraunces') format('svg'); /* Legacy iOS */
  }
  /* fraunces-900 - latin */
  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v10-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/fraunces-v10-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/fraunces-v10-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/fraunces-v10-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/fraunces-v10-latin-900.svg#Fraunces') format('svg'); /* Legacy iOS */
  }
  /* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/barlow-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/barlow-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/barlow-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/barlow-v5-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
  }
  /* barlow-700 - latin */
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/barlow-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/barlow-v5-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/barlow-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/barlow-v5-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
  }
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}

body {
    font-family: sans-serif "Fraunces" , "calibri", "Barlow";
   
}

.header__container{
    width: 1280px;
    margin: 0 auto;
 
}

.header__logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__nav-list{

  display: flex;
  list-style-type: none; 
   align-items: top;
}

.header__nav-link {
  text-decoration: none;
  display: block;
  padding:  50px 15px;
  font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;
 
}
.div_class_first {
  padding: 86px 117px;
  background-image: url(../images/Bitmap.jpg);
  background-size: 1280px 600px;
}
.background_heading_class{
  padding: 16px 0;
  width:500px;
  font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FEFCF7;
}
.background_paragraph_class {
   padding: 16px 0;
 padding-bottom: 56px;
  width: 445px;
  font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
}
.button_create{
  display: block;
  width:217px ;
  height: 56px;
background: #0E8784;
border-radius: 6px;
color: white;

}
.button_create:hover{
  background: #66D2CF;
border-radius: 6px;

}
.khoji {
  width : 1111px;
margin: 0 auto;
}
.section_class {
  
background-image: url(../images/our\ collection.png);
background-color: linear-gradient(
  180deg,
  rgba(254, 252, 247, 0.0001) 0%,
  #fefcf7 100%
);
background-repeat: no-repeat;
margin-top: 100px;
padding-top: 50px;
}

.coffee_heading{
  font-family: Fraunces 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  
}

.coffee_paragraph{
  font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #333D4B;
}
.second_secton_class{
  position: relative;

  margin: 0 auto;
  padding-top: 112px;
  width:1280px;
background-color:#282F38 ;
 margin-top: 200px;
}
.heading2_class {
  padding-bottom: 16px;
  font-family: Fraunces 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.paragraph2__class{
  width :540px;
  font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FEFCF7;  
margin: 0 auto;
padding-top: 16px;
  padding-bottom: 200px;
}
.coffee_ul_list {
display: flex;
width: 1000px;
margin: 0 auto;
}

.section-choose-us {
  position: relative;
  background-color: #2c343e;
  border-radius: 10px;
  padding-top: 110px;
  padding-bottom: 300px;
}

.choose-us-h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 32px;
}
.choose-us-p {
  width:540px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.choose-us-list {
  position: absolute;
  top: 60%;
  right: 50%;
  display: flex;
  list-style-type: none;
  margin: -20px;
  padding: 0;

  justify-content: space-between;
  transform: translateX(50%);
}

.choose-us-list-item {
  position: relative;
  width: 350px;
  height: 380px;
  padding: 48px;
  margin: 20px;
  padding-top: 200px;
  border: 1px solid #0e8784;
  border-radius: 8px;
  background-color: #0e8784;
}
.best-quality {
  background-image: url(../images/Shape1.png);
  background-size: 72px 72px;
  background-position: center 40px;
  background-repeat: no-repeat;
}
.exclusive {
  background-image: url(../images/CombinedShape22.svg);
  background-size: 72px 72px;
  background-position: center 40px;
  background-repeat: no-repeat;
}

.shipping {
  background-image: url(../images/CombinedShape11.svg);
  background-size: 72px 50px;
  background-position: center 40px;
  background-repeat: no-repeat;
}
.choose-us-list-item-h3{
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
}
.choose-us-list-item-p{
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;

}
.container2 {
  width: 1280px;
    margin: 0 auto;
    padding-top: 300px;
}
.how_it-works_class {
  
  font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
margin-bottom: 100px;
color: #83888F;
}

.span_class_line{
  position: relative;
display: block;
  width:750px;
border: 2px solid black;
margin-left: 30px;
}
.span_class_line::after {
position: absolute;
left: -5px;
top: -15px;
width: 25px;
height: 25px;
border:2px solid #0e8784;
border-radius:50%;
background-color:#fefcf7;
content:"";
}
.span_class_line::before {
  position: absolute;
  left: 350px;
  top: -15px;
  width: 25px;
  height: 25px;
  border:2px solid #0e8784;
  border-radius:50%;
  background-color:#fefcf7;
  content:"";
  }
  .span_class_line_second::after {
    position: absolute;
    left: 750px;
    top: -15px;
    width: 25px;
    height: 25px;
    border:2px solid #0e8784;
    border-radius:50%;
    background-color:#fefcf7;
    content:"";
    
  }

.span_works_class{
  font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.works_ol_list {
  display: flex;
  list-style-type: none;
  margin: -45px;
}

.works_ol_list_items{
width : 285px;
margin: 45px;

}
.works_heading_class{
  font-family: Fraunces 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.works_paragraph_class{
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.button_third_one_class{
  display: block;
  width:217px ;
  height: 56px;
background: #0E8784;
border-radius: 6px;
color: white;
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
}
.button_third_one_class:hover {
  background: #66D2CF;
  border-radius: 6px;

}

.footer_class{
  margin-top: 200px;
  background: #2C343E;
}
.div_footer_class{
  display: flex;
  width: 1280px;
  margin: 0 auto;
  align-items: center;

}
.footer_ul_list{
display: flex; 
 list-style-type: none;
 margin-left: 200px;

}
.footer_a_list_item {
  display: block;
  font-family: Barlow;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;
text-decoration: none;
padding: 50px 15px;
}

.footer_a_list_item:active {
  color: red;}

.facebook{
display: block;
margin-left: 350px;
}
.footer_icons{
  display: block;
  padding: 15px;
}